:root{
    --cor-primaria: #4C9BDB;--cor-escura: #264E6E;--cor-branca: #D9D9D9;
    --font-main: 'Arial', sans-serif;
    --padding-section: 20px;
}

body{
    background: rgba(12, 17, 31, 1);
    color: var(--cor-branca);
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    display: grid;
    grid-template-areas:
      "header header header"
      "space main sidebar"
      "footer footer footer";
    grid-template-columns:auto 12fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    row-gap: 8px;
    column-gap: 50px;
    min-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#topbar {
    grid-area: header;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
}

#topbar h1 {
    color: var(--cor-branca);
    position: absolute;
    margin:0;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    padding-top: 10px;
}
#topbar h2 {
    color: var(--cor-primaria);
    top: 0;
    margin-left: 20px;
    font-size: 1.5em;
    padding-top: 10px;
}

nav {
  grid-area: sidebar;
  grid-column-start: 3;
  grid-row: 2;
  background-color: rgb(59, 59, 59);
  border-color: var(--cor-primaria);
  border-left: 4px solid var(--cor-primaria);
  border-top: 4px solid var(--cor-primaria);
  border-bottom: 4px solid var(--cor-primaria);
  border-radius: 5px 0 0 5px;   
}

nav ul{
    list-style-type: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
}

nav ul li:hover {
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    cursor: pointer;
    color: var(--cor-escura);
    font-size: 12px;
    transition: content 0.5s ease;
}

footer{
  border-top: 1px solid currentColor;   
  height: var(--player-height);   
  width: 100%;                     
  display: flex;                        
  align-items: center;                  
  position: fixed;                       
  bottom: 0;                          
  left: 0;                       
  right: 0;                  
  z-index: 40;                           
  background-color: var(--color-background);
}

.footer-bar {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 100%;                   
  display: grid;                
  grid-row: 3;
  grid-column: 2;
  gap: 0.5rem;                 
  padding-left: 1rem;               
  padding-right: 1rem;
  grid-template-columns: minmax(250px,1fr) 
  minmax(0px,1fr) minmax(0px,1fr) 
  minmax(250px,1fr);
}

.albumview {
  display: flex;               
  align-items: center;        
  gap: 0.5rem;                
  width: 100%;
}

.cover {
  position: relative;
  min-width: 70px;
  max-width: 70px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coverimg {
  aspect-ratio: 1 / 1;              
  object-fit: cover;                
  width: 100%;                       
  height: 100%;                     
  cursor: pointer;                   
  background-color: var(--color-skeleton);
  color: transparent
}

.nameby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.butbar {
  grid-column: span 2;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.25rem;
}

#timenbar {
  display: flex;           
  width: 100%;             
  justify-content: center;
  align-items: center; 
  gap: 0.5rem;

}
#playbar {
  position: relative;
  height: 0.25rem;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 9999px;
  user-select: none;
  background-color: var(--cor-escura);
}
#borderpb {
  position: relative;        
  height: 0.75rem;         
  display: flex;         
  touch-action: none;      
  user-select: none;        
  align-items: center; 
  cursor: pointer;         
  width: 32rem;
}
#pulley {
  position: absolute;
  left: calc(0% + 0px);
  display: block;
  opacity: 0; 
  height: 0.75rem;
  width: 0.75rem;
  cursor: pointer; 
  user-select: none;
  border-radius: 9999px;
  border-width: 2px;
  transition: background-color 0.2s, opacity 0.2s;
  outline: none;
  box-shadow: 0 0 0 2px transparent;
  background-color: var(--color-foreground);
  border-color: var(--color-foreground);
  transform: translateZ(0);
}

.pulley:disabled {
  pointer-events: none;
  opacity: 0.5;
}

#buttons {
  display: flex;              
  width: 100%;                 
  gap: 1.5rem;                
  justify-content: center;    
  align-items: center;        
  margin-bottom: 0.25rem;
  padding-top: 1rem;
}
.buttonsb {
  display: inline-flex;              
  align-items: center;               
  justify-content: center;           
  white-space: nowrap;               
  font-size: 0.875rem;               
  font-weight: 500;                  
  position: relative;                
  border-radius: 9999px;             
  width: 2.5rem;                     
  height: 2.5rem;                    
  padding: 0;                        
  background-color: var(--color-background);
  transition: background-color 0.2s, color 0.2s;

}
.options {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end
}
#volume {
    width: 100px;
    accent-color: var(--cor-escura);
}

.volume-control {
  position: relative;
  display: inline-block;
}

.volume-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.volume-slider {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: bottom center;
  width: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.volume-control:hover .volume-slider {
  opacity: 1;
  pointer-events: auto;
}

main {
    grid-area: main;
    grid-row-start: 2;
    grid-column-start: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

section {
    max-width: 80%;
    margin-bottom: 20px;
    display: flex;
}

.flexrow {
  gap: 20px;
  justify-content: space-around;

}

figcaption {
    align-self: left;
    margin-bottom: 20px;
}

.dimga{
    background-color: aliceblue;
    border-radius: 20px;
    min-width: 500px;
    max-height: 250px;
    aspect-ratio: 4/3
}

.dimgb{
	background-color: aliceblue;
	border-radius: 20px;
	max-width: 60%;
	max-height: 60%;
	padding: 60px;
}

.dimgc{
	background-color: aliceblue;
	border-radius: 20px;
	max-width: 50%;
	max-height: 50%;
	padding: 40px;
	margin: 10px 10px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--cor-branca);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.card-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-escura);
  border-radius: 10px;
}
.card:hover {
  background-color: var(--cor-escura);
  transition: 0.5s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  cursor: pointer;
}
