body{
    background: rgba(12, 17, 31, 1);
    color: var(--cor-branca);
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    display: grid;
    grid-template-areas:
      "header header header"
      "space main sidebar"
      "footer footer footer";
    grid-template-columns: auto 12fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    row-gap: 8px;
    column-gap: 50px;
    min-height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 120px;
}

.topbar {
    grid-area: header;
    grid-column: span 2;   /*era tres*/
    align-items: center;
    justify-content: center;
}

.topbar h1 {
    color: var(--cor-branca);
    position: absolute;
    margin:0;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    padding-top: 10px;
}

.topbar h1 a {
    color: var(--cor-branca);
    text-decoration: none;
}

.topbar h2 {
    color: var(--cor-primaria);
    top: 0;
    margin-left: 20px;
    font-size: 1.5em;
    padding-top: 10px;
}

.topbar h2 a {
    color: var(--cor-primaria);
    text-decoration: none;
}

.topbar button {
  position: absolute;
  margin:0;
  top:3%;
  right: 0.2%;  /*era 0.8%*/
  padding-top: 10px;
}

main {
    grid-area: main;
    grid-row-start: 2;
    grid-column-start: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

/*
.volume-slider {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: bottom center;
  width: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.volume-control:hover .volume-slider {
  opacity: 1;
  pointer-events: auto;
}
*/

section {
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.flexrow {
  gap: 20px;
  justify-content: space-around;
}

figcaption {
    align-self: left;
    margin-bottom: 10px;
}

.dimga-section {
    display: flex;
    gap: 25px;
    align-items: flex-end;
}

.dimga {
    aspect-ratio: 4/3;
    border-radius: 20px;
    background-color: aliceblue;
    max-height: 300px;
    flex: 1 0 50%;
    overflow: hidden;
    position: relative;
}

.dimga img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dimga:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
}

.dimgb {
    background-color: aliceblue;
    border-radius: 20px;
    max-width: 60%;
    max-height: 60%;
    padding: 60px;
    aspect-ratio: 1/1;
    flex: 1 0 100%;
}

.card {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid transparent;
    text-align: center;
    color: var(--cor-branca);
    width: calc(100% / 2 - 20px);
    max-width: 300px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.card:hover {
  background-color: var(--cor-escura);
  border-color: var(--cor-primaria);
  transition: 0.5s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  cursor: pointer;
}

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--cor-branca);
}

.card-artist {
    font-size: 0.9em;
    color: var(--cor-branca);
    font-weight: 500;
    margin-top: 5px;
    text-align: right;
}

.dimgc-section {
  flex: 1;
  padding: 10px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  max-width: 1200px;
}

.dimgc {
  aspect-ratio: 1;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  background-color: var(--cor-branca);
  transition: transform 0.2s, opacity 0.2s;
}

.dimgc-text h3 {
    color: var(--cor-branca);
    font-size: 0.8em;
    margin: 2px 0;
    text-align: left;
    line-height: 1.2;
}

.dimgc-text small {
    color: var(--cor-branca);
    font-size: 0.7em;
}

.cardc {
    display: flex;
    border: 2px solid transparent;
    padding: 10px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    margin: 0px;
    gap: 10px;
}

.cardc:hover {
  background-color: var(--cor-escura);
  border-color: var(--cor-primaria);
  transition: 0.5s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  cursor: pointer;
}