.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

body{
  background: #2A7B9B;
  background: linear-gradient(152deg, rgba(42, 123, 155, 1) 0%, rgba(13, 38, 48, 1) 13%, rgba(10, 30, 38, 1) 20%, rgba(0, 0, 0, 1) 46%, rgba(11, 39, 54, 1) 74%, rgba(42, 123, 155, 1) 100%);
  font-family: "Jaro", sans-serif;
  color: white;
}
h1 {
  text-align: center;
  font-size: 50px
}
h2 {
  text-align: center;
  font-size: 20x;
  line-height: 1;
}

.media {
  padding-left: 25px
}
p {
  text-align: right;
}
.imageflex { display: flex; }
.imageflexcontent { margin-left: 500px; margin-top: 120px; }


