.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  background: #2A7B9B;
  background: linear-gradient(152deg, rgba(42, 123, 155, 1) 0%, rgba(13, 38, 48, 1) 13%, rgba(10, 30, 38, 1) 20%, rgba(0, 0, 0, 1) 46%, rgba(11, 39, 54, 1) 74%, rgba(42, 123, 155, 1) 100%);
  font-family: "Jaro", sans-serif;
  color: white;
}
h1 {
  text-align: center;
  font-size: 50px
}
h2 {
  text-align: center;
  font-size: 20x;
  line-height: 1;
}

.media {
  padding-left: 25px
}
p {
  text-align: right;
}
.imageflex { display: flex; }
.imageflexcontent { margin-left: 500px; margin-top: 120px; }
