:root{--cor-primaria: #4C9BDB;--cor-escura: #264E6E;--cor-branca: #D9D9D9;}

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
}

.glass {
  list-style-type: none;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  list-style-type: none;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}
body{
  background: #2A7B9B;
  background: linear-gradient(152deg, rgba(42, 123, 155, 1) 0%, rgba(13, 38, 48, 1) 13%, rgba(10, 30, 38, 1) 20%, rgba(0, 0, 0, 1) 46%, rgba(11, 39, 54, 1) 74%, rgba(42, 123, 155, 1) 100%);
  font-family: "Jaro", sans-serif;
  color: white;
}
h1 {
  text-align: center;
  font-size: 50px
}
h2 {
  text-align: center;
  font-size: 20x;
  line-height: 1;
}

p {
  text-align: center;
}

.imageflex { display: flex; }
.imageflexcontent { margin-left: 500px; margin-top: 120px; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.button {
  background-color: var(--cor-primaria);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover
{
  background-color: var(--cor-escura);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
