:root{
    --cor-primaria: #4C9BDB;--cor-escura: #264E6E;--cor-branca: #D9D9D9;
}
body
    {
    background: rgba(12, 17, 31, 1);
    color: var(--cor-branca);
    }
#topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
  }

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(59, 59, 59);
    border-color: #4C9BDB;
    border-width: 2px;
    border-radius: 0 10px 10px 0;
    max-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
}
ul li {
  margin: 2px 0;
  width: 100%;
  text-align: center;
}
li:hover {
  background-color: var(--cor-primaria);
  border-radius: 10px;
  cursor: pointer;
}

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
  }

  .left {
    margin-left: 20px;
    margin-right: auto;
    font-size: 1.5em;
  }

  #sbar {
    background-color:var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 60px;
    position: fixed;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width:90%;
    max-width: 900px;
    padding: 10px 20px;
    margin-top: 10px;
    border-width: 2px 0;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    margin: 0px 20px;
    z-index: 1000;
  }
img {
    padding: 10px 5px;
}
section {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 80px;

}
figcaption {
    align-self: left;
}
div span{
    background-color: aliceblue;
    border-radius: 20px;
}